<a href="https://colab.research.google.com/github/dgullate/Curso-IE/blob/master/NLP_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tokenization

In [1]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [0]:
text = "This is Andrew's text, isn't it?"

See the result of tokenizing this text when we use three different tokenizers from the `nltk` library.

In [3]:
tokenizer = nltk.tokenize.WhitespaceTokenizer()
tokenizer.tokenize(text)

['This', 'is', "Andrew's", 'text,', "isn't", 'it?']

In [4]:
tokenizer = nltk.tokenize.TreebankWordTokenizer()
tokenizer.tokenize(text)

['This', 'is', 'Andrew', "'s", 'text', ',', 'is', "n't", 'it', '?']

In [5]:
tokenizer = nltk.tokenize.WordPunctTokenizer()
tokenizer.tokenize(text)

['This', 'is', 'Andrew', "'", 's', 'text', ',', 'isn', "'", 't', 'it', '?']

## Lemmatization and Stemming

In [0]:

text = "feet wolves cats talked"
tokenizer = nltk.tokenize.TreebankWordTokenizer()
tokens = tokenizer.tokenize(text)

Stemming extracts the root of the word, thus pruning plurals and derivations. It can produce "non-words"

In [7]:
stemmer = nltk.stem.PorterStemmer()
" ".join(stemmer.stem(token) for token in tokens)

'feet wolv cat talk'

In [8]:
stemmer = nltk.stem.WordNetLemmatizer()
" ".join(stemmer.lemmatize(token) for token in tokens)

'foot wolf cat talked'

## Bag of Words

Let us create a Bag of Words encoding of a set of texts. Can control the minimum word frequency, the size of N-grams, etc.

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

import pandas as pd
texts = [
    "good movie fellas", "not a good movie", "did not like", 
    "i like it", "good one"
]
# using default tokenizer in TfidfVectorizer
BoW = CountVectorizer(min_df=1, ngram_range=(1, 1))
features = BoW.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=BoW.get_feature_names()
)

   did  fellas  good  it  like  movie  not  one
0    0       1     1   0     0      1    0    0
1    0       0     1   0     0      1    1    0
2    1       0     0   0     1      0    1    0
3    0       0     0   1     1      0    0    0
4    0       0     1   0     0      0    0    1

When we use the tf-idf weights, we see that frequent terms in all documents get downweighted.

In [24]:
tfidf = TfidfVectorizer(min_df=1, ngram_range=(1, 1))
features = tfidf.fit_transform(texts)
pd.DataFrame(
    features.todense(),
    columns=tfidf.get_feature_names()
)

        did    fellas      good  ...     movie       not       one
0  0.000000  0.690159  0.462208  ...  0.556816  0.000000  0.000000
1  0.000000  0.000000  0.506204  ...  0.609818  0.609818  0.000000
2  0.659118  0.000000  0.000000  ...  0.000000  0.531772  0.000000
3  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
4  0.000000  0.000000  0.556451  ...  0.000000  0.000000  0.830881

[5 rows x 8 columns]